<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <input type="text" name="toBePosted" placeholder="Publish here!">
        <button type="submit" name="button" formaction="/compose">Post</button>
    </form>
    <%- include("partials/footer"); -%>