<%- include("partials/header"); -%>
    <h1>Compose</h1>

    <form class="" action="/compose" method="post">
        <div class="form-group"></div>
        <label>Title</label>
        <input type="text" class="form-control" name="postTitle" placeholder="Title">

        <label>Post</label>
        <textarea type="text" class="form-control" name="postedText" cols="50" row="5"></textarea>
        <button type="submit" name="button" formaction="/compose">Publish</button>
        </div>
    </form>

    <%- include("partials/footer"); -%>